


<%= stylesheet_link_tag params[:controller] %>

<div class='container'>
  <div class="header2">
    <div class="logo2">
      <img src="http://blog.weddly.co/wp-content/uploads/2016/08/logo-3-1.png" class="logo">
    </div>
  </div>
  <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
  <div class="container">
    <div class="row">
      <div class="menu col-md-3">
        <div class="leftMenu">
          <h3><%= gravatar_for @user %>
          <%= @user.name %></h3>
          <%= @user.name %>, <%= @user.email %>
          <div class="row">
            <div class="col-md-6">
              Do zrobienia
            </div>
            <div class="col-md-6">
              6
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Zrobione
            </div>
            <div class="col-md-6">
              3
            </div>
          </div>
        </div>
      </div>
      <div class="checklist col-md-5">
        <div class="month">
          <h3>August</h3>
        </div>
        <div class="date col-md-1">
          <h4>1<br>PN</h4>
        </div>
        <div class="col-md-11">
          <div class="col-md-2">
            <img src="http://blog.weddly.co/wp-content/uploads/2016/08/Ring-1.png" class="ring">
          </div>
          <div class="item col-md-10">
            Budżet
          </div>
        </div>
        <div class="col-md-11">
          <div class="col-md-2">
            <img src="http://blog.weddly.co/wp-content/uploads/2016/08/Ring-1.png" class="ring">
          </div>
          <div class="item col-md-10">
            Budżet
          </div>
        </div>
        <div class="col-md-11">
          <div class="col-md-2">
            <img src="http://blog.weddly.co/wp-content/uploads/2016/08/Ring-1.png" class="ring">
          </div>
          <div class="item col-md-10">
            Budżet
          </div>
        </div>
        <div class="col-md-11">
          <div class="col-md-2">
            <img src="http://blog.weddly.co/wp-content/uploads/2016/08/Ring-1.png" class="ring">
          </div>
          <div class="item col-md-10">
            Budżet
          </div>
        </div>
        <div class="date col-md-1">
          <h4>1<br>PN</h4>
        </div>
        <div class="col-md-11">
          <div class="col-md-2">
            <img src="http://blog.weddly.co/wp-content/uploads/2016/08/Ring-1.png" class="ring">
          </div>
          <div class="item col-md-10">
            Budżet
          </div>
        </div>
        <div class="col-md-11">
          <div class="col-md-2">
            <img src="http://blog.weddly.co/wp-content/uploads/2016/08/Ring-1.png" class="ring">
          </div>
          <div class="item col-md-10">
            Budżet
          </div>
        </div>
        <div class="col-md-11">
          <div class="col-md-2">
            <img src="http://blog.weddly.co/wp-content/uploads/2016/08/Ring-1.png" class="ring">
          </div>
          <div class="item col-md-10">
            Budżet
          </div>
        </div>
        <div class="col-md-11">
          <div class="col-md-2">
            <img src="http://blog.weddly.co/wp-content/uploads/2016/08/Ring-1.png" class="ring">
          </div>
          <div class="item col-md-10">
            Budżet
          </div>
        </div>
      </div>
      <div class="menu3 col-md-4">
        <div class="item">
          New item
        </div>
        <div class="item-details">
          <div class="col-md-6">
            Deadline
          </div>
          <div class="col-md-6">
            28.08.2016
          </div>
          <p>Szczegóły</p>
          <div class="content">
            Wybór sukni ślubnej jest jedną z najtrudniejszych decyzji przy organizacji wesela. Każda przyszła panna młoda chce w tym dniu wyglądać pięknie i podkreślić swoje walory. Warto więc, zamiast kierować się przemijającymi trendami, zastanowić się, jaki krój
            będzie najlepiej pasował do naszej figury i pięknie podkreśli to, co najlepsze w naszej sylwetce.
          </div>
          <div class="btn btn-warning">update</div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>
